@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cafeteria</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Cafeteria Blue</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login","Account")">Inicio de Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Create","Citas")">Agregar Pedido  </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Citas")">Ver Pedidos</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Cafeteria Blue</h1>
                <img src="~/Content/img/cafeteria.jpg" sizes="100" height="300" width="800">
                <h2 class="masthead-subheading mb-0">Para esas mañanas llenas de energia</h2>
            </div>
        </div>
    </header>

    <!-- Page Features -->
    <body style="background-color:black">
    </body>
    <div class="row text-center">
        <div class="col-lg-4 col-md-3 mb-2">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/Img/expreso.jpg">
                <div class="card-body">
                    <h4 class="card-title">
                        Americano regular
                    </h4>
                    <p class="card-text">
                        Elaborado con nuestra mezcla de granos calidad Pluma
                        Hidalgo Oaxaca y el tueste ideal para obtener una bebida equilibrada,
                        con buen cuerpo, excelente aroma y sabor. Puedes saborizarlo con vainilla,
                        caramelo o moka, y endulzarlo a tu gusto.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-3 mb-2">
            <div class="card h-100">
                <img class="card-img-top img-fluid rounded-circle" src="~/Content/img/cafe-expreso (1).jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Lateada vainilla</h4>
                    <p class="card-text">Perfecta combinación de helado de la casa con jarabe de vainilla, lo que la hace una deliciosa bebida para tu antojo.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-3 mb-2">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/img/cafe-expreso.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Chocolate regular</h4>
                    <p class="card-text">
                        Delicioso chocolate caliente preparado con leche cremada. Puedes elegir tu leche de preferencia y endulzarlo a tu gusto.
                        * Pídelo frío o caliente
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-3 mb-2">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/Img/Cafe-Latte-Coffee.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Americano regular</h4>
                    <p class="card-text">
                        Elaborado con nuestra mezcla de granos calidad Pluma Hidalgo Oaxaca y el tueste ideal
                        para obtener una bebida equilibrada, con buen cuerpo, excelente aroma y sabor.
                        Puedes saborizarlo con vainilla, caramelo o moka, y endulzarlo a tu gusto.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-3 mb-2">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/Img/mocha.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Sandwich de pierna</h4>
                    <p class="card-text">
                        Elaborado con pan integral, jamón de pierna, queso manchego y aderezo de chipotle
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-3 mb-2">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/Img/Cocinillas.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Croissant</h4>
                    <p class="card-text">
                        Elaborado con pan integral, jamón de pierna, queso manchego y aderezo de chipotle
                    </p>
                </div>
            </div>
        </div>
  

    <footer class="py-5 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; Mi cafeteria 2020</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
